@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

:root {
  --img-src: "../img";
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: black;
  margin: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #DFDFDF;
  background-repeat: no-repeat;
  background-size: cover;
}


/* header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  padding: 0 1rem;
  background: linear-gradient(to right, hsl(26, 100%, 50%), hsl(26, 100%, 60%));
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.6em 0;
  justify-content: space-between;
  align-content: stretch;
}

.header-icon {
  width: 2.1em;
  height: auto;
  border-radius: 50%;
  box-shadow: 1px 2px brown;
  margin: auto;
}

.title {
  font-family: 'Redressed', cursive;
  font-weight: 750;
  font-size: 2.1em;
  margin: auto auto auto 2rem;
}

.nav-bar {
  margin: auto 2rem auto auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-link {
  padding: 0.6em 0.6em;
  border-radius: 4px;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.3s ease-out;
}

.nav-link:hover {
  background-color: hsl(39, 100%, 30%);
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

/* main */


.container {
  position: relative;
  top: 1.7em;
  z-index: 0;
  width: 800px;
  height: auto;
  max-width: 100%;
  margin: 4rem auto;
  padding: 2.5rem 0;
  background: linear-gradient(to right, hsl(46, 100%, 50%), hsl(46, 100%, 65%));
  border-radius: 4px;
  text-align: center;
}

.container-item {
  margin-bottom: 3rem;
}

.form {
  margin: 1rem auto 3rem auto;
  align-content: center;
}

.form-item {
  margin: auto auto 1rem auto;
}

.label-email {
  font-size: 1.6rem;
  font-weight: bolder;
}

.field-email {
  font-size: 1rem;
  padding: 0.8rem 0.6rem;
}

.button-special {
  font-size: 1rem;
  line-height: inherit;
  padding: 0 1rem;
  border-radius: 4px;
  background-color: green;
  color: white;
  transition: background-color 0.3s ease-out, color 0.3s ease-out, transform 0.3s ease-out;
}

.button-special:hover {
  cursor: pointer;
  color: black;
  background-color: orange;
  transform: scale(1.2);
}

.video-youtube {
  margin: 2rem auto;
}

p {
  text-align:justify;
  margin: 0.5rem 1rem 1rem 1rem;
}

p::before {
  content: "    ";
  white-space: pre;
}

.list-specs {
  text-align: left;
}

.offer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.offer-item {
  border-radius: 4px;
  border-style: double;
  margin: 1rem 1.5rem;
  padding: 1rem;
  width: auto;
}

.button-image {
  padding: 0;
  margin: 1rem 1rem;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  background-size: cover;
  opacity: 0.4;
  transition: opacity 0.3s ease-out
}

.button-image:hover {
  opacity: 1;
  cursor: pointer;
}

.button-linkedin {
  background-image: url("../img/icon-linkedin.png");
}

.button-twitter {
  background-image: url("../img/icon-twitter.png");
}

.button-github {
  background-image: url("../img/icon-github.png");
}



/* media quieries */


@media (max-width:1023px) {
  .nav-bar {
    flex-direction: column;
    text-align: center;
  }
  .nav-link {
    margin-bottom: 0.2rem;
    padding: 0;
  }

  .header {
    padding: 0.1em;
  }

  .icon-container {
    margin: 0.1em;
  }

  .container {
    top: 5.6em;
    padding: 2rem 0;
  }
}


@media (max-width: 600px) {

  .video-youtube {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .header {
    flex-direction: column;
    margin: auto;
  }

  .container {
    top: 8.8em;
    padding: 2rem 0;
  }

  .icon-container {
    flex-direction: column;
    margin: 0.3em auto;
  }

  .header-icon {
      margin-bottom: 0;
      visibility: hidden;
      width: 0;
      height: 0;
  }

  .nav-bar {
    margin: 0.3em auto;
  }
}