@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

:root {
  --img-src: "../img";
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: black;
  margin: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #DFDFDF;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  padding: 1.5rem 1rem;
  background: linear-gradient(to right, hsl(26, 100%, 50%), hsl(26, 100%, 60%));
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
}

.header-icon {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  box-shadow: 1px 2px brown;
  margin: auto;
}

.title {
  font-family: 'Redressed', cursive;
  font-weight: 750;
  font-size: 3.3rem;
  margin: auto auto auto 2rem;
}

.nav-bar {
  margin: auto 2rem auto auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-link {
  margin: auto 1vw;
  padding: 0.5rem;
  border-radius: 4px;
  color: inherit;
  text-decoration: none;


  animation-name: link-unhover-animation;
  animation-duration: 0.25s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.nav-link:hover {
  animation-name: link-hover-animation;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes link-hover-animation {
  0% {
    background-color: inherit;
  }
button-special
  100% {
    background-color: hsl(39, 100%, 30%);
  }
}

@keyframes link-unhover-animation {
  0% {
    background-color: hsl(39, 100%, 30%);
  }

  100% {
    background-color: inherit;
  }
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

.container {
  position: relative;
  top: 6rem;
  z-index: 0;
  width: 800px;
  height: auto;
  max-width: 100%;
  margin: 4rem auto;
  padding: 2.5rem 0;
  background: linear-gradient(to right, hsl(46, 100%, 50%), hsl(46, 100%, 65%));
  border-radius: 4px;
  text-align: center;
}

.container-item {
  margin-bottom: 3rem;
}

.form {
  margin: 1rem auto 3rem auto;
  align-content: center;
}

.form-item {
  margin: auto auto 1rem auto;
}

.label-email {
  font-size: 1.6rem;
  font-weight: bolder;
}

.field-email {
  font-size: 1rem;
  padding: 0.8rem 0.6rem;
}

.button-special {
  font-size: 1rem;
  line-height: inherit;
  padding: 0 1rem;
  border-radius: 4px;
  background-color: green;
  color: white;

}

.video-youtube {
  margin: 2rem auto;
}

@media (max-width:1000px) {
  .nav-bar {
    flex-direction: column;
    text-align: center;
  }
  .nav-link {
    margin-bottom: 0.2rem;
  }

  .header {
    padding: 0.3rem;
  }

  .icon-container {
    margin: 0.2rem 1rem;
  }

  .container {
    top: 10.3rem;
    padding: 2rem 0;
  }
}

@media (max-width: 600px) {

  .video-youtube {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .header {
    flex-direction: column;
    margin: auto;
  }

  .container {
    top: 16.3rem;
    padding: 2rem 0;
  }

  .icon-container {
    flex-direction: column;
    margin: 1rem auto;
  }

  .header-icon {
      margin-bottom: 0;
      visibility: hidden;
      width: 0;
      height: 0;
  }

  .nav-bar {
    margin: 1rem auto;
  }
}

p {
  text-align:justify;
  margin: 0.5rem 1rem 1rem 1rem;
}

p::before {
  content: "    ";
  white-space: pre;
}

.list-specs {
  text-align: left;
}

.offer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.offer-item {
  border-radius: 4px;
  border-style: double;
  margin: 1rem 1.5rem;
  padding: 1rem;
  width: auto;
}

.button-image {
  padding: 0;
  margin: 1rem 1rem;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  background-size: cover;
  opacity: 0.6;
  animation-name: button-image-unhover-animation;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.button-image:hover {
  animation-name: button-image-hover-animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes button-image-hover-animation {
  100% {
    opacity: 1;
  }
}

@keyframes button-image-unhover-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.button-linkedin {
  background-image: url("../img/icon-linkedin.png");
}

.button-twitter {
  background-image: url("../img/icon-twitter.png");
}

.button-github {
  background-image: url("../img/icon-github.png");
}
